/* styles.css */

/* Configuración general del cuerpo */
body {
  font-family: 'Merriweather', serif; /* Utiliza la fuente Merriweather para todo el cuerpo */
  margin: 0; /* Elimina los márgenes predeterminados del cuerpo */
  padding: 0; /* Elimina el relleno predeterminado del cuerpo */
  display: flex; /* Utiliza el modelo de caja flexible para el cuerpo */
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
  min-height: 100vh; /* Establece la altura mínima de la página para que se extienda por lo menos hasta el 100% de la altura de la ventana */
  background-image: url('./assets/newfondo.jpg'); /* Ruta a la imagen de fondo */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
  background-position: center; /* Centra la imagen de fondo */
  background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
}

/* Estilos para el contenedor principal de la aplicación */
.App {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra el contenido de forma vertical */
  text-align: center; /* Centra el texto dentro del contenedor */
  padding: 20px; /* Agrega un espacio interno al contenedor principal */
}

/* Estilos para la imagen del Tesla Model Z */
.tesla-model-img {
  width: 500px; /* Ajusta el ancho de la imagen según sea necesario */
  height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
  margin-top: 10px; /* Ajusta el margen superior según sea necesario */
}

/* Estilos para el texto del banner */
.banner-text {
  color: white; /* Cambia el color del texto a blanco */
  font-size: 3rem; /* Ajusta el tamaño del texto según sea necesario */
  margin-bottom: 20px; /* Ajusta el margen inferior del texto */
}
