/* Estilos para los enlaces de navegación */
.nav-links {
  display: flex;
  justify-content: space-between; /* Alineación con espacio entre elementos */
  padding: 10px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: all 0.3s ease; /* Transición suave para los efectos */
}

.nav-link:hover {
  background-color: rgba(0, 123, 255, 0.1); /* Color de fondo al pasar el ratón */
  border-color: #007bff; /* Borde al pasar el ratón */
  color: #0056b3; /* Color del texto al pasar el ratón */
}

/* Ajustes adicionales para los botones específicos */
.vehicles-button {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: transparent;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  border: 2px solid #007bff;
}

.vehicles-button:hover {
  background-color: rgba(0, 123, 255, 0.1);
  border-color: #007bff;
  color: #0056b3;
}

.history-button {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  background-color: transparent;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  border: 2px solid #007bff;
}

.history-button:hover {
  background-color: rgba(40, 167, 69, 0.1);
  border-color: #007bff;
  color: #218838;
}

.info-button {
  color: white;
}

.info-button:hover {
  color: #e0e0e0;
}

/* Ajustes adicionales para el cuerpo y contenedor principal */
body {
  font-family: 'Merriweather', serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('./assets/azul_blanco.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.tesla-model-img {
  width: 500px;
  height: auto;
  margin-top: 10px;
}

.banner-text {
  color: white;
  font-size: 3rem;
  margin-bottom: 20px;
}
